In [1]:
# Import all libraries needed for the tutorial

# General syntax to import specific functions in a library: 
##from (library) import (specific library function)
from pandas import DataFrame, read_csv

# General syntax to import a library but no functions: 
##import (library) as (give the library a nickname/alias)
import matplotlib.pyplot as plt
import pandas as pd #this is how I usually import pandas
import sys #only needed to determine Python version number
import matplotlib #only needed to determine Matplotlib version number
import math

import numpy as np

# Enable inline plotting
%matplotlib inline

In [2]:
df = pd.read_csv('data.csv', sep=';', encoding='iso8859_15')

In [41]:
df2 = df.loc[df['03_langage']==df['03_langage']]
df2['prenom'] = df2['01_prenom'].str.split(" ").str[0]
df_french = df2[df2['03_langage'].str.contains('french')]
df_french = df_french['prenom']
df_french.to_csv('french.csv', index=False)
df_english = df2[df2['03_langage'].str.contains('english')]
df_english = df_english['prenom']
df_english.to_csv('english.csv', index=False)

/home/mathieu/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [4]:
df2 = df.loc[df['03_langage']==df['03_langage']]
df2['prenom'] = df2['01_prenom'].str.split(" ").str[0]
df_german = df2[df2['03_langage'].str.contains('german')]
df_german = df_german['prenom']
df_german.to_csv('german.csv', index=False)

/home/mathieu/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [4]:
df = pd.read_csv('french.csv', sep=';', encoding='utf-8')

In [5]:
df

           abel
0       absolon
1       achille
2          adam
3      adélaïde
4         adèle
5       adeline
6       adolphe
7        adrien
8      adrienne
9        agathe
10        agnès
11         aimé
12        aimée
13        alain
14       albert
15    albertine
16    alexandre
17   alexandrie
18       alexis
19       alfred
20        alice
21        aline
22       alison
23     alphonse
24   alphonsine
25     amarante
26       amaury
27        ambre
28     ambroise
29       amédée
..          ...
543      urbain
544    valentin
545   valentine
546      valère
547     valérie
548      valéry
549   véronique
550   vespasien
551    victoire
552      victor
553   victorine
554      vienne
555     vincent
556    violette
557    virginie
558      vivien
559    vivienne
560      xavier
561      yanick
562        yann
563      yannic
564     yannick
565     yolande
566      yseult
567        yves
568      yvette
569      yvonne
570    zacharie
571   zephyrine
572         zoé

[573 rows x 1 columns]